<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%=Name%> </h1>
    <p>Here is the html file</p>
    <p>And here is the numbers: <%=numbers%></p>
    <% if (Name == "Ahmed"){ %>
        <div>Yes the Name is Ahmed</div>
    <% } %>
</body>
</html>